<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">

    
    <h1>Now You can Edit The Listing</h1>
    <br>
    
    <form method="POST" action="/listing/<%= Info._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input name="title" type="text" value="<%= Info.title %>" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
         
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea name="description" class="form-control" required> <%= Info.description %> </textarea>
            <div class="invalid-feedback">description Should be short</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image: </label>
            <input name="image"  type="text" value="<%= Info.image %>" class="form-control" required>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label" >Price: </label>
                <input name="price"  type="number" value="<%= Info.price %>" class="form-control" required>
                <div class="invalid-feedback">Price Should be Valid</div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country: </label>
                <input name="country" type="text" value="<%= Info.country %>" class="form-control" required>
                <div class="invalid-feedback">Country Should be Valid</div>
            </div>
        </div>


        <div class="mb-3">
            <label for="location" class="form-label">Location: </label>
            <input name="location"  type="text" value="<%= Info.location %>" class="form-control" required>
            <div class="invalid-feedback">Location Should be Valid</div>
        </div>
        <button class="btn edit-btn btn-dark mt-3 mb-3">Edit</button>
        
    </form>

</div>
</div>

    
